@font-face {
    font-family: BEYNO;
    src: url(../fonts/BEYNO.ttf);
}

body {
    font-family: Lato, sans-serif;
    background-color: #fff;
    font-size: 14px;
}

.wrapper {
    max-width: 1540px;
}

/*     Navbar      */

.navbar {
    background-color: #fff;
}

.navbar-nav>li>.dropdown-menu,
.navbar-nav li a,
.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav li a:active,
.block_1 .block_text h3,
.products__section-name  {
    color: #fff;
}

.carousel-caption h2,
.about_choose_us h2,
.block_text h3,
.skills h2,
.names,
.contact-section h2,
.products__section-name {
    text-transform: uppercase;
}

.yellow_phrase,
.navbar-nav li a:hover,
.products__section-name_yellow {
    color: #fff200;
}

.black_phrase {
    color: #232323;
}

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus  {
    font-size: 30px;
    font-family: BEYNO, sans-serif;
    color: #009dda;
    font-weight: 600;
}

.navbar-header .navbar-brand span {
    color: #503392;
    font-weight: 300;
}

.navbar-default {
    border-color: #fff;
}

.navbar-nav>li>.dropdown-menu,
.navbar-nav>li>.dropdown-menu .dropdown-submenu .dropdown-menu,
.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav li a:active {
    background-color: rgba(44,30,62,0.8);
}




/*     Dropdown Menu     */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* End styles for Dropdowm menu  */




.navbar-form .form-control {
    background-color: #e8e4f1;
    border-radius: 0;
    height: 26px;
    margin-top: 4px;
}




/*     Banner     */

.banner-section {
    padding-top: 0;
    overflow: auto;
}

.banner-section .item img {
    width: 100%;
}

.banner-section .carousel-inner .item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -9% 0 0 -25%;
}

.carousel-caption h2 {
    font-size: 64px;
    padding-bottom: 40px;
}




/*     Choose us block     */

.about_choose_us {
    padding-top: 105px;
}

.about_choose_us .intro {
    text-align: center;
}

.intro h2 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    color: #009dda;
    padding-bottom: 35px;
}

.intro p {
    color: #999;
    padding-bottom: 80px;
}

.choose_blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 110px;
}

.block_1, .block_2, .block_3, .block_4,.block_5 {
    width: 200px;
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 40px 20px 34px 20px;
}

.choose_blocks .block_1 .block_text {
    text-align: center;
    background-color: #503392;
}

.block_1 .block_text {
    padding: 30px 0;
}

.block_1 .block_1_links img {
    padding: 0 6px;
}

.block_img {
    padding-bottom: 50px;
}

.block_3 .block_img {
    padding-bottom: 60px;
}

.block_text h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding-bottom: 28px;
}

.block_text p {
    color: #999;
}




/*     Products     */

.products-section {
    width: 100%;
}

.products__header {
    background: url("../img/our-products/overlay.png");
    height: 160px;
    background-position: center;
    background-size: cover;
}

.products__section-name {
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

.products__wrapper {
    max-width: 1110px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 70px;
}

.products__item {
    max-width: 335px;
    padding-bottom: 90px;
}

.products__img-wrapper {
    width: 144px;
    height: 144px;
    display: inline-block;
    vertical-align: top;
}

.products__img {
    width: 100%;
}

.products__element {
    display: inline-block;
    max-width: 180px;
    padding-left: 16px;
}

.products__title {
    color: #232323;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}

.products__subheader {
    color: #503392;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.products__desc {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}




/*     About us     */

.skills p {
    padding-bottom: 50px;
}

.skills .black_text {
    color: #373737;
}

.left {
    float: left;
}

.right {
    float: right;
}

.percents {
    padding-bottom: 25px;
}

.names {
    font-weight: bold;
    padding-bottom: 5px;
}

.right_img {
    padding-top: 20px;
    text-align: right;
}





/*     Contact     */

.contact-section {
    padding-top: 150px;
}

.contact-section .intro {
    text-align: center;
}

#googlemaps {
    height: 630px;
    width: 100%;
    position:absolute;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#contactform {
    position: relative;
    z-index: 1; /* z-index должен быть больше, чем у Google Maps */
    margin: 0 auto;
    background: #353330;
    height: auto;
    color: white;
    max-width: 945px;
    margin-top: 100px;
    padding: 70px 60px;
}

.fields {
    width: 60%;
    float: left;
}

.address {
    width: 30%;
    float: right;
}

.name_email input {
    width: 238px;
    height: 50px;
    padding-left: 10px;
    color: #353330;
}

.name_email .input_name{
    margin-right: 11px;
}

.area textarea {
    margin-top: 10px;
    width: 490px;
    height: 140px;
    padding-left: 10px;
    color: #353330;
}

.post {
    margin-top: 10px;
}

.like {
    padding-left: 10px;
}

.send {
    padding: 15px 38px;
    background-color: #ffff00;
    color: #373737;
    float: right;
    margin-right: 3px;
}

.address p {
    line-height: 14px;
}

.adr, .phone {
    padding-bottom: 22px;
}



/*     Footer    */







/* Media queries */

@media (max-width: 992px) {
    .carousel-caption h2 {
        font-size: 42px;
        padding-bottom: 40px;
    }
    .carousel-caption p {
        font-size: 10px;
    }
    .block_1, .block_2, .block_3, .block_4 {
        margin-bottom: 10px;
    }
    .right_img {
        text-align: center;
    }
    .name_email input {
        width: 80%;
    }
    .input_name {
        margin-bottom: 10px;
    }
    .area textarea {
        width: 80%;
    }
    .send {
        margin-right: 100px;
        padding: 4px 10px;
    }
}


@media (max-width: 767px) {
    .carousel-caption h2 {
        font-size: 32px;
        padding-bottom: 20px;
    }
    .carousel-caption p {
        font-size: 8px;
    }
    .navbar-form .form-control {
        width: 200px;
        margin-left: 10px;
    }
    .technologies .percent_img img {
        width: 75%;
    }
    .fields, .address {
        width: 100%;
    }
    .name_email input {
        width: 100%;
    }
    .area textarea {
        width: 100%;
    }
    .send {
        margin-right: 0;
    }
    .address {
        text-align: center;
        padding-top: 20px;
    }
}

@media (max-width: 600px) {
    .carousel-caption h2 {
        font-size: 24px;
        padding-bottom: 5px;
    }
    .carousel-caption p {
        font-size: 6px;
    }
    .banner-section .carousel-inner .item .carousel-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
    }
}

@media (max-width: 448px) {
    .carousel-caption h2 {
        font-size: 16px;
        padding-bottom: 0px;
    }
    .carousel-caption p {
        font-size: 4px;
    }
    .banner-section .carousel-inner .item .carousel-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -19% 0 0 -25%;
    }
}

@media (max-width: 430px) {
    .choose_blocks {
        justify-content: center;
    }
    .block_1, .block_2, .block_3, .block_4 {
        margin-bottom: 10px;
    }
}

@media (max-width: 324px) {
    .products__wrapper {
        text-align: center;
    }
}

@media (min-width: 767px) {
    .navbar {
        padding: 10px 0;
    }
    .navbar-right .dropdown-menu {
        right: auto;
    }
    /*from http://www.barrykooij.com/bootstrap-submenu-open-on-mouse-over/ to get hover behaviour on desktop */
    ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
    ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
        display: none;
    }
    ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
        display: block;
    }
    .lead {
        font-size: 21px;
    }
}


